project:
  type: book
  output-dir: ../docs

html-math-method: mathjax

filters:
  - diagram  
diagram:
  engine:
    tikz:
      execpath: pdflatex
      header-includes:
        - '\usepackage{adjustbox}'
        - '\usepackage{pgfplots}'
        - '\usetikzlibrary{arrows,arrows.meta,calc,fit,decorations.shapes,shapes.arrows,shapes.geometric,shapes.multipart,decorations.pathreplacing,decorations.pathmorphing,patterns,positioning,swigs}' 
book:
  title: "Econometrics with Unobserved Heterogeneity"
  author: "Vladislav Morozov"
  date: 03/03/2025
  date-format: "YYYY"
  favicon: themes/favicon.ico
  site-url: https://vladislav-morozov.github.io/econometrics-heterogeneity/
  repo-url: https://github.com/vladislav-morozov/econometrics-heterogeneity/
  repo-actions: [edit, issue]
  repo-subdir: "src" 
  sidebar:
    tools:
    - icon: person-arms-up
      href: https://vladislav-morozov.github.io/ 
    - icon: linkedin
      href: https://www.linkedin.com/in/vladislavvmorozov/
  chapters:
    - index.qmd
    - intro.qmd  
    - part: "Linear Models"
      chapters:
        - linear/linear-introduction.qmd
        - linear/linear-within-estimator.qmd
        - linear/linear-dynamic-panel-iv.qmd
        - linear/linear-dynamic-panel-heterogeneity.qmd
        - linear/linear-mean-group.qmd
        - linear/linear-coefficient-variance.qmd
        - linear/linear-chf.qmd
        - linear/linear-distribution.qmd
        - linear/linear-conclusion.qmd
    - part: "Nonparametrics and Heterogeneity"
      chapters: 
        - nonparametric/nonparametric-introduction.qmd
        - nonparametric/nonparametric-heterogeneity-bias.qmd
        - nonparametric/nonparametric-average-identification.qmd
        - nonparametric/nonparametric-average-estimation.qmd
        - nonparametric/nonparametric-location-scale.qmd
        - nonparametric/nonparametric-cre.qmd
        - nonparametric/nonparametric-variance.qmd
    - part: "Quantile and Distributional Treatment Effects"
      chapters: 
        - qte-dte/qte-dte-intro.qmd
        - qte-dte/qte-dte-id-rct.qmd
        - qte-dte/dte-id-conf.qmd
        - qte-dte/qte-id-conf.qmd

    - references/references.qmd

bibliography: references/eco.bib
 
format:
  html:
    include-in-header: themes/mathjax.html
    theme:
      dark: [themes/ws_dark.scss, themes/block.scss]  
      light: [themes/ws_light.scss, themes/block.scss]



 

